page {
  background-color: #ffdd51;
}

.container {
  background: #f4f4f4;
  padding: 0 30rpx;
}

.home-bg {
  height: 215rpx;
  width: 100%;
  background-color: #ffdd51;
  border-radius: 0 0 15% 15%;
  position: absolute;
  left: 0;
  top: 0;
}

swiper {
  background-color: white;
  height: 280rpx;
  width: 690rpx;
  border-radius: 20rpx;

  .form {
    background: transparent;

    & .from-btn {
      width: 100%;
      height: 100%;
      background: transparent;
      padding: 0;
      border-radius: 20rpx;
    }

    image {
      width: 100%;
      height: 100%;
      border-radius: 20rpx;
    }
  }
}

.swiper-box .wx-swiper-dots.wx-swiper-dots-horizontal {
  margin-bottom: 2rpx;
}

.swiper-box .wx-swiper-dot {
  width: 40rpx;
  display: inline-flex;
  height: 10rpx;
  margin-left: 20rpx;
  justify-content: space-between;
}

.swiper-box .wx-swiper-dot::before {
  content: '';
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8rpx;
}

.swiper-box .wx-swiper-dot-active::before {
  background: rgba(244, 0, 0, 0.8);
}

.head {
  margin: 60rpx 40rpx 22rpx 40rpx;

  & .label {
    font-size: 38rpx;
    color: #111;
    font-weight: bold;
  }

  & .add {
    width: 48rpx;
    height: 48rpx;
  }
}

.section {
  margin-top: 20rpx;
  border-radius: 20rpx;
  background: #fff;
  padding-top: 20rpx;

  & .flexwrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    & .flexitem {
      width: 25%;
      height: 138rpx;
      position: relative;

      & .itemimg {
        display: block;
        width: 78rpx;
        height: 78rpx;
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 0 2rpx 6rpx 0 rgba(235, 235, 235, 0.5);
      }

      & .new {
        width: 50rpx;
        height: 50rpx;
        background: url('https://qcdn.beautifulreading.com/c4ae1819db9f08bf5ceac48857dd2232') no-repeat center center;
        background-size: contain;
        position: absolute;
        top: -8rpx;
        left: 85rpx;
      }

      & .text {
        display: block;
        width: 100%;
        height: 37rpx;
        font-size: 24rpx;
        text-align: center;
        margin-top: 15rpx;
        color: rgb(51, 51, 51);
      }
    }
  }
}

.hot {
  margin: 10rpx 0;
  border-radius: 20rpx;
  background: #fff;
  border: 1rpx solid transparent;
  display: inline-block;
  position: relative;

  & .hotbg {
    display: inline-block;
    width: 690rpx;
    height: 200rpx;
    position: absolute;
    top: 0;
    left: 0;
  }

  & .hotwork {
    display: flex;
    width: 690rpx;
    height: 110rpx;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    & .hotworknum {
      display: inline-block;
      font-size: 40rpx;
      font-family: shouyeNum;
    }

    & .hotworktitle {
      font-size: 24rpx;
      font-family: PingFangSC-Regular;
      display: inline-block;
      margin-left: 10rpx;
      margin-top: 4rpx;
    }
  }

  & .hotpic {
    display: flex;
    width: 690rpx;
    height: 90rpx;
    justify-content: left;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 36rpx;
    font-family: PingFangSC-Medium;

    & image {
      display: inline-block;
      width: 48rpx;
      height: 48rpx;
      margin-left: 16rpx;
      margin-right: 6rpx;
    }

    & text {
      height: 48rpx;
    }
  }
}

.HotList {
  padding: 0 24rpx;
  margin-top: 20rpx;

  & .hot_item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150rpx;

    & .hot_item_img {
      flex: 1;

      & .hot_headimg {
        position: relative;
        background-size: 100%;
        height: 100rpx;
        width: 100rpx;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8rpx;
      }
    }

    & .hot_item_text {
      margin-left: 25rpx;
      width: 100%;
      display: flex;

      & .hot_item_poem_name {
        flex: 1;
        margin: 8rpx 0 5rpx 0;

        & .poemName {
          font-size: 30rpx;
          color: #242424;
          height: 50%;
          margin-bottom: 21rpx;
          font-weight: 700;
        }

        & .hot_item_nickname {
          display: flex;
          align-items: center;

          & .nickname {
            max-width: 290rpx;
            font-size: 24rpx;
            color: #242424;
          }

          & .like {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 40rpx;

            & .likename {
              font-size: 22rpx;
              color: #666;
              padding-left: 8rpx;
            }
          }
        }
      }

      & .hot_item_text_more {
        width: 44rpx;
        display: flex;
        justify-content: space-between;
        font-size: 28rpx;
        color: rgb(153, 153, 153);

        margin: auto;
      }

      & .hot_item_text_more_like {
        margin: 20rpx 10rpx 0 0;
        font-size: 22rpx;

        & .like {
          margin-right: 16rpx;
          display: flex;
          line-height: 28rpx;

          & .likename {
            padding-left: 7rpx;
            text-align: right;
          }
        }
      }
    }
  }
}

.scrollX {
  height: 170rpx;

  & .group-list {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;

    & .item-wraper {
      display: inline-block;
      margin-right: 20rpx;

      & .item {
        width: 300rpx;
        height: 170rpx;
        border-radius: 10rpx;
        color: #fff;
        padding-top: 32rpx;
        padding-left: 24rpx;
        padding-right: 24rpx;
        box-sizing: border-box;

        & .group-name {
          font-size: 28rpx;
        }

        & .group-member {
          display: flex;
          margin-top: 20rpx;

          & image {
            width: 30rpx;
            height: 30rpx;
          }

          & text {
            margin-left: 9rpx;
            font-size: 26rpx;
          }
        }
      }

      &:first-child {
        margin-left: 40rpx;
      }
    }
  }
}

.empty {
  background: #f2f2f2;
  border-radius: 10rpx;
  width: 300rpx;
  height: 170rpx;
  margin-left: 40rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & text {
    font-size: 28rpx;
    color: #999;
  }

  & .small {
    font-size: 24rpx;
    margin-top: 5rpx;
  }
}

.pop-add {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .wraper {
    background: #fff;
    border-radius: 8rpx;
    height: 410rpx;
    padding: 0 56rpx;
    display: flex;
    flex-direction: column;
    align-items: center;

    & input {
      margin-top: 90rpx;
      border-bottom: 1rpx solid #e5e5e5;
      font-size: 32rpx;
      color: #000;
      font-weight: bold;
      text-align: center;
    }

    & .hint {
      font-size: 24rpx;
      text-align: center;
      margin-top: 20rpx;
      color: #999;
      margin-bottom: 60rpx;
    }

    & .btn {
      font-size: 32rpx;
      height: 82rpx;
      width: 448rpx;
      color: #fff;
      border-radius: 8rpx;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// @font-face {
//     font-family: 'webfont';
//     src: url(../../img/impact.ttf);
// }
.timer {
  border: 1rpx solid transparent;

  & .timerwrp {
    width: 100%;
    height: 110 * 2rpx;
    background-color: white;
    background-size: 690rpx 120rpx;
    padding: 0 7rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20rpx;
    margin: 10rpx 0;

    & .img {
      width: 50 * 2rpx;
      height: 50 * 2rpx;
      margin-right: 20rpx;
      background: url(./iconRecordSum.png);
      background-size: 50 * 2rpx;
    }

    & .numwrap {
      height: 115rpx;
      display: flex;
      flex-direction: column;

      & .timeritem {
        display: flex;
        flex-direction: row;
        font-family: 'webfont';
        font-size: 40rpx;
        color: rgb(227, 127, 27);

        & .item {
          margin-left: 5rpx;
        }
      }

      & .many {
        color: rgb(99, 110, 116);
        font-size: 26rpx;
        line-height: 58rpx;
        font-weight: 700;
      }
    }
  }
}

.blockBootom {
  height: 1rpx;
  margin-top: 180rpx;
}

.Ad {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 251;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .img {
    width: 540rpx;
    height: 720rpx;
    margin: 0 auto;
    border-radius: 10rpx;

    image {
      width: 540rpx;
      height: 720rpx;
      border-radius: 10rpx;
    }
  }

  .cancel {
    width: 60rpx;
    height: 60rpx;
    margin: 30rpx auto 0 auto;

    image {
      width: 60rpx;
      height: 60rpx;
    }
  }
}

.daily-block {
  width: 690rpx;
  // height: 360rpx;
  background: #fff;
  padding: 15 * 2rpx 0rpx 0rpx 0rpx;
  box-sizing: border-box;
  border-radius: 20rpx;
  margin: 10rpx 0;
  border: 1rpx solid transparent;

  & .daily-head {
    font-size: 13 * 2rpx;
    color: #999999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10 * 2rpx;
    padding-left: 10rpx;
    padding-right: 10rpx;

    & .tagimg {
      margin-left: 10rpx;
      width: 64rpx;
      height: 64rpx;
    }

    & .date {
      font-size: 16 * 2rpx;
      color: #111;
      margin-right: 8 * 2rpx;
    }

    & .stag {
      font-size: 24rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
    }
  }

  & .daily-body {
    background: #d9dbea;
    position: relative;
    color: #fff;
    font-size: 13 * 2rpx;
    padding: 20 * 2rpx 40rpx 40rpx 40rpx;
    height: 156 * 2rpx;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 20rpx;
    border-bottom-right-radius: 20rpx;

    & .name {
      width: 170 * 2rpx;
      color: #343639;
      position: absolute;
      left: 25 * 2rpx;
      top: 40 * 2rpx;
      font-size: 16 * 2rpx;
      font-weight: 600;
      line-height: 24 * 2rpx;
    }

    & .content {
      color: rgba(255, 255, 255, 0.43);
      line-height: 21 * 2rpx;
      margin-top: 11 * 2rpx;
    }

    & .icon-listen {
      position: absolute;
      right: 19 * 2rpx;
      bottom: 19 * 2rpx;
      width: 27 * 2rpx;
      height: 27 * 2rpx;
      background: url(./homeListen@2x.png);
      background-size: 27 * 2rpx;
    }
  }

  & .daily-class {
    // height: 194*2rpx;
    position: relative;
    border-bottom-left-radius: 20rpx;
    border-bottom-right-radius: 20rpx;
    display: flex;
    justify-content: center;

    & .playicon {
      width: 50 * 2rpx;
      height: 50 * 2rpx;
      position: absolute;
      top: 67 * 2rpx;
      left: 142.5 * 2rpx;
    }

    & .video {
      width: 100%;
      height: 390rpx;
      border-bottom-left-radius: 20rpx;
      border-bottom-right-radius: 20rpx;
    }

    & .bgimgday {
      width: 690rpx;
      height: 240rpx;
      //border-radius: 10rpx;
      border-bottom-left-radius: 20rpx;
      border-bottom-right-radius: 20rpx;
    }

    & .title {
      width: 100%;
      height: 70 * 2rpx;
      position: absolute;
      bottom: 0;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
      border-bottom-left-radius: 20rpx;
      border-bottom-right-radius: 20rpx;

      & .txt {
        width: 610rpx;
        margin-top: 40rpx;
        margin-left: 30rpx;
        font-size: 36rpx;
        color: white;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.bookmark {
  width: 345 * 2rpx;
  height: 80 * 2rpx;
  margin: 25 * 2rpx auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16 * 2rpx;
  background-color: rgb(33, 144, 134);
  background: url('https://qcdn.beautifulreading.com/5cb889fc42293996f27b6ca9b2adb521');
  background-size: 100% 100%;
  border-radius: 4 * 2rpx;
  font-weight: bold;

  & .txt {
    margin-right: 55 * 2rpx;
    color: white;
  }

  & .get {
    width: 100 * 2rpx;
    height: 35 * 2rpx;
    background-color: white;
    color: rgb(53, 84, 82);
    text-align: center;
    line-height: 35 * 2rpx;
    border-radius: 25 * 2rpx;
    font-size: 13 * 2rpx;
    margin: 0;
  }
}

.book-btn {
  width: 270 * 2rpx;
  height: 44 * 2rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  & .icon {
    width: 20 * 2rpx;
    height: 20 * 2rpx;
    margin-bottom: 0;
    margin-right: 10 * 2rpx;
  }

  & .txt {
    font-size: 17 * 2rpx;
  }
}

.bookimg {
  width: 270 * 2rpx;
  height: 360 * 2rpx;
  margin-bottom: 20rpx;
}

.courseline {
  width: 345 * 2rpx;
  margin: 0 auto;
  height: 2rpx;
  background-color: rgb(243, 247, 249);
}

.place_white {
  width: 100%;
  height: 300rpx;
  background-color: white;
}

.grow {
  width: 100%;
  height: 90rpx;
  display: flex;
  flex-direction: row;
  padding: 20rpx 30rpx 10rpx 0rpx;
  justify-content: space-between;
  align-items: center;
  position: relative;

  & .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 199rpx;
    height: 54rpx;
    background: rgba(255, 228, 189, 1);
    border-radius: 27rpx;

    & image {
      width: 55rpx;
      height: 55rpx;
      border-radius: 50%;
      border: 1rpx solid #fff;
    }

    & text {
      font-size: 26rpx;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(36, 36, 36, 1);
      margin-left: 16rpx;
    }
  }

  & .right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    & text {
      font-size: 24rpx;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(36, 36, 36, 1);
    }
  }
}

.dr_view_new {
  width: 690rpx;
  height: 512rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #fff;
  border-radius: 20rpx;
  margin: 10rpx 0;
  border: 1rpx solid transparent;

  &>.daily-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 116rpx;

    & .tagimg {
      margin-left: 20rpx;
      width: 64rpx;
      height: 64rpx;
    }

    & .name {
      font-size: 32rpx;
      font-family: PingFangSC;
      font-weight: 500;
      color: rgba(17, 17, 17, 1);
    }

    & .days {
      font-size: 26rpx;
      font-family: PingFangSC;
      font-weight: 400;
      color: rgba(161, 164, 171, 1);
      margin-left: 10rpx;

      & text {
        color: #fc5634;
      }
    }
  }

  &>.dr_record_card {
    width: 100%;
    height: 396rpx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 250, 248, 1);
    border-bottom-left-radius: 20rpx;
    border-bottom-right-radius: 20rpx;

    &>.dr_record_view {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 175rpx;

      &>.dr_record_left {
        width: 460rpx;
        height: 175rpx;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &>.dr_record_title {
          width: 460rpx;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 30rpx;
          font-family: PingFangSC;
          font-weight: 500;
          color: rgba(36, 36, 36, 1);
          margin-left: 8rpx;
        }

        &>.dr_record_no_rank {
          font-size: 24rpx;
          font-family: PingFangSC;
          font-weight: 400;
          color: rgba(161, 164, 171, 1);
          margin-top: 6rpx;
          width: 460rpx;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-left: 20rpx;
        }
      }

      &>.dr_button_share1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 194rpx;
        height: 68rpx;
        background: rgba(255, 221, 81, 1);
        box-shadow: 0px 5rpx 5rpx 0px rgba(246, 182, 45, 0.2);
        border-radius: 34rpx;
        font-size: 26rpx;
        font-family: PingFangSC;
        font-weight: 500;
        color: #242424;
      }

      &>.dr_record_right1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 194rpx;
        height: 68rpx;
        background: rgba(252, 86, 52, 1);
        box-shadow: 0px 5rpx 5rpx 0px rgba(254, 211, 22, 0.2);
        border-radius: 34rpx;
        font-size: 26rpx;
        font-family: PingFangSC;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
      }
    }

    &>.dr_rank_view1 {
      width: 650rpx;
      height: 200rpx;
      margin-bottom: 20rpx;
      background-image: url('https://qcdn.beautifulreading.com/5ed0d0c14e63698e5717076481f385d7');
      background-size: 650rpx 200rpx;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 30rpx;
      border-radius: 16rpx;

      &>.dr_rank_title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        height: 88rpx;
        width: 100%;
        font-size: 34rpx;
        font-family: PingFangSC;
        font-weight: 400;
        color: rgba(36, 36, 36, 1);

        &>text {
          font-size: 24rpx;
          font-family: PingFangSC;
          font-weight: 400;
          color: rgba(252, 86, 52, 1);
          margin-left: 10rpx;
          margin-top: 5rpx;
        }
      }

      &>.dr_rank_content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        height: 112rpx;
        width: 100%;
        padding-bottom: 22rpx;

        &>.dr_rank_head1 {
          width: 90rpx;
          height: 90rpx;
          border-radius: 45rpx;
          margin-right: 16rpx;
          position: relative;

          &>.dr_rank_head_icon1 {
            width: 90rpx;
            height: 90rpx;
            border-radius: 45rpx;
          }

          &>.rank_icon1 {
            width: 40rpx;
            height: 40rpx;
            position: absolute;
            top: -14rpx;
            left: -10rpx;
          }
        }

        &>.dr_rank_name1 {
          max-width: 370rpx;
          font-size: 30rpx;
          font-family: PingFangSC;
          font-weight: 400;
          color: rgba(36, 36, 36, 1);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &>.right_icon {
          width: 32rpx;
          height: 32rpx;
        }
      }
    }
  }
}

.radio {
  height: 80rpx;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 1);
  border-radius: 10rpx;
  margin: 20rpx 0;
  .radio_img {
    width: 80rpx;
    height: 80rpx;
    background: url('https://qcdn.beautifulreading.com/509157704d63e006aa58741873ea9402') no-repeat center center;
    background-size: 72rpx 72rpx;
    margin: 0 22rpx;
  }
}

.swiper_container {
  height: 80rpx;
  width: 100%;

  .swiper_item {
    height: 80rpx;
    width: 100%;
    display: flex;
    align-items: center;

    .swiper_img {
      width: 48rpx !important;
      height: 48rpx !important;
      border-radius: 100%;
      margin-right: 10rpx;
    }

    .swiper_txt {
      flex: 1;
      display: flex;
      font-size: 28rpx;
      font-weight: 400;
      color: rgba(36, 36, 36, 1);

      .txt_now {
        max-width: 200rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box; //作为弹性伸缩盒子模型显示。
        -webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
        -webkit-line-clamp: 1; //显示的行
      }
    }
  }
}